/* Push footer to bottom of page */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main.container, section#backdrop {
    flex: 1;
}

/* Movie styles */

.movie {
    cursor: pointer;
}

.movie-title {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Hover animations for posters */
.movie-poster-container {
    overflow: hidden;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.15);
    transition: .5s;
}

.movie-poster-container:hover {
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.25);
    transform: translateY(-5px);
    transition: .5s;
}

.movie-rating {
    font-size: 0.9em;
    top: 0;
    right: 0;
}

.movie-rating .rating {
    font-size: 1em;
}

a.movie:hover {
    text-decoration: none;
}

/* Single movie styles */
.movie-backdrop {
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 0;
}

.movie-backdrop:after {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#desc-title {
    font-size: 1.75em;
    opacity: 0.75;
}

#rating-container {
    opacity: 0.75;
}

.td-poster {
    width: 100px;
}

.admin-movie .movie-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: .25s;
}

.admin-movie:hover .movie-overlay {
    visibility: visible;
    opacity: 1;
    transition: .25s;
}

.movie-title-single {
    font-weight: 300;
}

.text-upper-sm {
    text-transform: uppercase;
    font-size: 1em;
}